 #footer .main li a{
    text-decoration: none ;
    color:#7c9abd;
    font-size: 13px;
}
.main li{
    list-style: none;
    margin:0 auto;
    text-align: center
}
 #footer .main li:hover a{
    color: #01b7f2;
}

body{
    
background-color: #1A2430;
}

.logo{
    text-align:center;
    margin-top:15%;
}


h1{
    color:#fdb714;
    font-weight: 300;
    line-height: 1.3em;
    font-size: 50px;
}

.error{
    margin:0 auto;
    text-align: center;
    margin-top: 5%;
}

.error2{
    text-align: center
}

.error2 h1{
    color:#01b7f2;
    font-size:300px;
    font-weight: 100;
    padding-bottom: 10px;
}

 .end{
    margin-top: 2%;
     text-align: center;
 }

 p{
     color:#333;
 }
  
 .main li ul{
     background: #04afe7;
  margin-top:10px;      
  
     padding:0}

 .main li ul li a{
     color:white !important;
    padding: 25px;
   padding-left: 0px;
     box-sizing: border-box;
     text-align: left;
     width: 100%
      
 }

 .main li ul li a:first-child{
     padding-top:5px;
 }

 .main li ul li a:last-child{
     padding-bottom: 4px;
 }
 .main li ul li{

 box-sizing: border-box;
 border:  1px solid #04afe7;
 text-align: left;
 width: 100%;
 padding: 0;
 }

 .main li ul li:hover a{
     background-color: rgb(18, 157, 204);
 }


 .main li .second{
   
 visibility: hidden;
 transition: .3s all linear
 }

 .main li:hover .second{
    
  visibility: visible;
    transition: .3s all linear;
   
 }
 .third{
    display: none;
    margin-left:100% ;
    width: 100%
 }

 .second li:hover .third{
  display: block
 }

 .third{
    background: #04afe7;
 margin-top:10px;      
 
    padding:0}

.third li a{
    color:white !important;
    padding:20px 40px 20px  10px;
    box-sizing: border-box;
    text-align: left;
    
    
}

.third li a:first-child{
    padding-top:5px;
}

.third li a:last-child{
    padding-bottom: 4px;
}
.third li{
bottom: 60px;
box-sizing: border-box;
border:  1px solid #04afe7;
text-align: left
}

.third li:hover a{
    background-color: rgb(18, 157, 204);
}

